@import "common";
body{
    min-width: 320px;
    max-width:750px;
    margin: 0 auto;
    height: 100vh;
    -webkit-touch-callout:none;
    
}
a{
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-moz-user-focus: none;
}
@media screen and (min-width:750px){
    html{
        font-size: 37.5px !important;
    }
}
.Rotate{
    position: relative;
    display: flex;
    height: 2.6667rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        position: absolute;
        top: .6667rem;
        right: .6667rem;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 2.6667rem;
        animation: AM 7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    .Rotate_div{
    position: absolute;
    top: 1.3333rem;
    right: 1.3333rem;
    align-content: center;
    width: .2667rem;
    height: .2667rem;
    border-radius: 2.6667rem;
    background-color: white; 
    }
}
@keyframes AM{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.text {
    position: absolute;
    z-index: 9999999;
    font-weight: bold;
    user-select: none;
    font-size: 1.3333rem;
}
@keyframes remove {
    100% {
        opacity: 0;
    }
}