body {
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	font-size: 14px;
	font-family: '宋体';
	color: black;
	line-height: 1.5;
}
section div:nth-child(1){
	height: 100px;
	background-color: red;
}